html {
  background: url(images/14.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-font-smoothing: subpixel-antialiased;

}


body{
  line-height: 1;
  margin-top: 0;
  padding: 0;
  background: none;


}

button {
  padding-top: 5px;
  border-color: red;
  border: none;
  outline: none;
  margin-top: 15px;
  margin-bottom: 15px;
  -webkit-font-smoothing: subpixel-antialiased;
}
button:active {
  border-radius: 15px;

}
button:hover {
  color: cornflowerblue;
  box-shadow: 0 0 3px rgba(255,255,255,1) , 0 0 10px rgba(86,170,255,1);
  -webkit-box-shadow: 0 0 3px rgba(255,255,255,1) , 0 0 10px rgba(86,170,255,1);
  -moz-box-shadow: 0 0 3px rgba(255,255,255,1) , 0 0 10px rgba(86,170,255,1);
}

.app{
  width: 50%;
  padding-top: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 25%;
  font-family: 'Codystar';
  color: red;
  display: inline-block;
  position: absolute;
  bottom: 0;

}

.circle {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50% 0;
  border-radius: 50%;
  background: black;
  color: red;
  text-align: center;
  box-shadow: inset 5px 0px 100px white, 10px 10px 30px rgba(0,0,0,0.6), inset 100px -70px 100px rgba(0,0,0,0.8);
  background: radial-gradient(circle at 200px 200px, #e3e3e3, #000);
  background: radial-gradient(circle at 200px 200px, rgba(0,0,0,0.7), #000);
  -webkit-box-shadow: inset 5px 0px 100px white, 10px 10px 30px rgba(0,0,0,0.6), inset 100px -70px 100px rgba(0,0,0,0.8);
  background: -webkit-radial-gradient(circle at 200px 200px, #e3e3e3, #000);
  background: -webkit-radial-gradient(circle at 200px 200px, rgba(0,0,0,0.7), #000);
  -moz-box-shadow: inset 5px 0px 100px white, 10px 10px 30px rgba(0,0,0,0.6), inset 100px -70px 100px rgba(0,0,0,0.8);
  background: -moz-radial-gradient(circle at 200px 200px, #e3e3e3, #000);
  background: -moz-radial-gradient(circle at 200px 200px, rgba(0,0,0,0.7), #000);

}

.innercircle {
  position: absolute;
  width: 100%;
  border-radius: 50%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translate(0, -50%);
}

.CFbutton {
  margin-top: 15px;
  margin-bottom: 15px;
}
.cTf {
  position: relative;
  width: auto;
  color: red;
  background-color: Transparent;
  border-color: red;
  border-style: 3px solid;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;

}

.loc {
  margin-top: 15px;
}

.bs {
  box-shadow: 0 0 3px rgba(255,255,255,1) , 0 0 10px #ff00de , 0 0 15px #ff00de , 0 0 21px #ff00de ;
  -webkit-box-shadow: 0 0 3px rgba(255,255,255,1) , 0 0 10px #ff00de , 0 0 15px #ff00de , 0 0 12px #ff00de ;
  -moz-box-shadow: 0 0 3px rgba(255,255,255,1) , 0 0 10px #ff00de , 0 0 15px #ff00de , 0 0 21px #ff00de ;
}

.ts {
  text-shadow: 0 0 70px rgba(255,0,211,1);
  -webkit-text-shadow: 0 0 70px rgba(255,0,211,1);;
  -moz-text-shadow: 0 0 70px rgba(255,0,211,1);;
}

@media (min-width:880px) {
  .innercircle{
    font-size: 2em;
  }

}
@media (max-width: 880px){
  .circle{
    box-shadow: inset 5px 0px 90px white, 10px 10px 30px rgba(0,0,0,0.6), inset 100px -50px 90px rgba(0,0,0,0.8);
  }
  .innercircle{
    font-size: 1.75em;
  }

}

@media (max-width: 760px){
  .circle{
    box-shadow: inset 5px 0px 80px white, 10px 10px 30px rgba(0,0,0,0.6), inset 100px -50px 80px rgba(0,0,0,0.8);
  }
  .innercircle{
    font-size: 1.5em;
  }
}

@media (max-width: 650px){
  .app {
    margin-bottom: 20%;
  }
  .circle{
    box-shadow: inset 5px 0px 50px white, 10px 10px 30px rgba(0,0,0,0.6), inset 100px -50px 50px rgba(0,0,0,0.8);
  }
  .innercircle{
    font-size: 1em;
  }
  h1{
    font-size: 1.5em;
  }
  button{
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@media (max-width: 450px){
  .circle{
    box-shadow: inset 5px 0px 50px white, 10px 10px 30px rgba(0,0,0,0.6), inset 100px -50px 50px rgba(0,0,0,0.8);
  }
  .innercircle{
    font-size: .7em;
  }
  h1{
    font-size: 1.5sem;
  }
  button{
    margin-top: 3px;
    margin-bottom: 3px;
  }
}
@media (max-width:360px){
  .app{
    width: 100%;
    margin:0;
  }
  .innercircle{
    font-size: 1em;
    margin:0;
    padding:0;
  }
  button{
    margin: 0;
    margin-top: -10px;
  }
}
